*, html {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 16px;
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
}

.search {
  font-family: monospace;
  font-weight: 200;
  display: block;
  font-size: 1.25rem;
  width: 100%;
  padding: .5rem .75rem;
  background: #eee;
  border: 0;
  outline: 2px solid #eee;
}

.search:focus {
  transition: all 120ms;
  outline: 6px solid #eee;
}

button {
  cursor: pointer;
  font-family: monospace;
  background: none;
  border: 0;
  font-size: 1rem;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
  border-left: 1px dotted #ccc;
  margin-bottom: 1.5rem;
}

ul li {
  list-style: none;
  margin-left: 1.5rem;
}

.expand-icon {
  font-weight: 800;
  color: #ccc;
  margin-left: -.6rem;
  margin-right: .5rem;
}